body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 40px;
}

#headline p {
    font-size: 30px;
}

/*
#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
}

.icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.icons img {
    margin: 15px;
    cursor: pointer;
    width: 100px;
}

#navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

#navigation p {
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
}
*/






.navbar {
    font-size: 18px;
    background-image: white;
    border: 1px solid white;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: black;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 0px;
    margin-left: 20px;
}

.logo img {
    width: 60px;
}


.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
}

.active {
    display: block;
}


#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
}

.icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.icons img {
    margin: 15px;
    cursor: pointer;
    width: 100px;
}

#navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

#navigation p {
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
}




#headline {


    margin: 0px;
}

#heroGrid {
    grid-template-rows: 200px 300px;
    grid-template-areas:
        "introduction"
        "myimage";
}

#introduction {
    padding-top: 10px;
}

#headline {
    position: center;

    padding: 30px;
    padding-right: 0px;
}


#myimage {
    grid-area: myimage;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: 0px;
}

#myimage img {
    width: 200px;
}

.icons img {
    width: 0px;
}

.subHeading {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 50px auto;
    cursor: pointer;
}

#categoryGrid {

    display: grid;
    grid-template-rows: 500px 300px 500px 300px 500px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "Plantae"
        "plantaetext"
        "GovwebsiteRedesign"
        "gtext"
        "IntotheWildOutdoors"
        "IWOtext";
}

.categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    cursor: pointer;
    display: grid;
    padding-bottom: 30px;

}

#Plantae {
    display: flex;
    grid-area: Plantae;
    background-image: url(../css/assets/Group\ 57.png);
    justify-content: center;
}

#Plantae img {
    padding-bottom: 30px;
    width: 500px;
}


#GovwebsiteRedesign {
    grid-area: GovwebsiteRedesign;
    background-image: url(../css/assets/Group\ 57\ \(1\).png);
    justify-content: center;
}

#GovwebsiteRedesign img {
    width: 300px;
}

#IntotheWildOutdoors {
    grid-area: IntotheWildOutdoors;
    background-image: url(../css/assets/Group\ 57\ \(2\).png);
    justify-content: center;
}

#IntotheWildOutdoors img {
    width: 400px;
}

.icons1 {
    display: flex;
    padding-left: 0px;
    justify-content: center;
}

.icons1 img {
    width: 30px;
}

.footer {
    justify-content: center;
    padding: 100px;
    flex-direction: row;
    margin: 0px 5%;

}

.footertext {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    justify-content: center;
}

.myimage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: 100px;
}

.myself {
    text-align: center;
    display: block;
    padding: 30px 120px 50px 120px;
}

button {
    border: none;
    background-image: linear-gradient(85deg, skyblue, rgb(73, 150, 180));
    color: white;
    padding: 9px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

.scrollDown {
    width: 2rem;
    height: 2rem;
    background-color: purple;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: background-color 0.5s ease;
    z-index: 6000;
    margin-right: 2em;
    margin-bottom: 2em;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    transition: margin-bottom 0.2s;
}

.scrollDown:hover {
    background-color: maroon;
}

.scrollDown:active {
    margin-bottom: 1.5rem;
}

/*


*/

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .logo img {
        width: 100px;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: skyblue;
    }

    #navBar {
        display: flex;
        flex-direction: row;
        margin: 0px 5%;
    }

    .icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    .icons img {
        margin: 15px;
        cursor: pointer;
        width: 100px;
    }

    #navigation {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }

    #navigation p {
        cursor: pointer;
        padding: 15px;
        text-decoration: none;
    }




    #heroGrid {
        margin: 0px 5%;
        display: grid;
        min-height: 200px;
        height: 60vh;
        grid-template-rows: 400px 100px;
        grid-template-columns: 75% 25%;
        grid-template-areas:
            "introduction myimage";
    }


    #introduction {
        padding-top: 100px;
    }

    #myimage {
        grid-area: myimage;
        display: flex;
        justify-content: center;
        cursor: pointer;
        padding-top: 100px;
    }


    #myimage img {
        width: 300px;
    }


    .heroGridArea {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;

        display: flex;
        position: relative;
    }

    #headline {
        position: relative;

        padding: 50px;
        padding-right: 300px;
    }

    .subHeading {
        display: flex;
        justify-content: center;
        width: 300px;
        margin: 50px auto;
        cursor: pointer;
    }



    .gridChild {
        margin: 15px;
        padding: 15px;
        height: 200px;
    }

    .arrow {
        grid-area: arrow;
        text-align: center;
    }


    .bounceMe {
        animation: bounceArrow .7s infinite;
    }

    @keyframes bounceArrow {
        from {
            margin-top: 0px;
        }

        50% {
            margin-top: 7px;
        }

        to {
            margin-top: 0px;
        }
    }


    #categoryGrid {
        margin: 0px 5%;
        display: grid;

        grid-template-rows: 500px 500px 500px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "Plantae plantaetext"
            "GovwebsiteRedesign  gtext "
            "IntotheWildOutdoors  IWOtext"
        ;
    }

    #Plantae {
        display: flex;
        grid-area: Plantae;

        background-image: url(../css/assets/Group\ 57.png);
        justify-content: center;
    }

    #Plantae img {
        width: 500px;
        display: grid;

        justify-content: center;
        align-content: center;


        justify-content: center;

        ;

    }



    #GovwebsiteRedesign {
        display: flex;
        grid-area: GovwebsiteRedesign;
        background-image: url(../css/assets/Group\ 57\ \(1\).png);

        justify-content: center;
    }

    #plantaetext {
        justify-content: flex-start;
        padding: 20px;

    }

    #gtext {
        justify-content: center;
        padding: 20px;
    }

    #IntotheWildOutdoors {
        grid-area: IntotheWildOutdoors;
        background-image: url(../css/assets/Group\ 57\ \(2\).png);
        justify-content: center;
    }

    #IWOtext {

        justify-content: center;
        padding: 20px;
    }



    .categoryGridArea {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 40px;
        cursor: pointer;
        display: grid;

    }

    .hoverMe {
        grid-area: hover;
        background-color: white;
        color: black;
        width: 180px;
        text-align: center;
        height: 50px;
        border-color: skyblue;
        border-radius: 8px;
        transition: 0.3s;
    }

    /* active state */

    .hoverMe:hover {
        background-color: skyblue;
    }




    a {
        text-align: center;
        color: rgb(5, 5, 5);
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;

    }

    a:hover {

        color: skyblue;

        transition: 0.5s;
    }






    h3,
    p {
        display: flex;
        margin-top: 10px;
        font-family: 'Open Sans', sans-serif;

    }







    .footer {
        justify-content: center;
        padding: 100px;
        flex-direction: row;
        margin: 0px 5%;

    }

    .footertext {
        display: flex;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        justify-content: center;
    }

    .icons1 {
        display: flex;
        width: 0%;
        justify-content: center;
        padding-left: 500px;
        cursor: pointer;
    }

    .icons1 img {
        margin: 15px;
        cursor: pointer;
        width: 40px;
    }

    .abc {

        width: 0px;
    }

    .myimage img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding-top: 100px;
    }

    .myself {
        text-align: center;
        display: block;
        padding: 30px 120px 50px 120px;
    }
}

/*

#heroGrid {
    margin: 0px 5%;
    display: grid;
    min-height: 200px;
    height: 60vh;
    grid-template-columns: 75% 25%;
    grid-template-areas:
        "introduction myimage";
}

#introduction {
    padding-top: 100px;
}


#myimage {
    grid-area: myimage;
    width: 300px;
    justify-content: center;
    cursor: pointer;
    padding-top: 100px;
}


.heroGridArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

    display: flex;
    position: relative;
}

#headline {
    position: relative;

    padding: 50px;
    padding-right: 300px;
}

.subHeading {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 50px auto;
    cursor: pointer;
}

.gridChild {
    margin: 15px;
    padding: 15px;
    height: 200px;
}

.arrow {
    grid-area: arrow;
    text-align: center;
}


.bounceMe {
    animation: bounceArrow .7s infinite;
}

@keyframes bounceArrow {
    from {
        margin-top: 0px;
    }

    50% {
        margin-top: 7px;
    }

    to {
        margin-top: 0px;
    }
}

#categoryGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 500px 500px 500px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "Plantae plantaetext"
        "GovwebsiteRedesign  gtext "
        "IntotheWildOutdoors  IWOtext"
    ;
}

#Plantae {
    display: flex;
    grid-area: Plantae;
    background-color: #C7CDBE;
    justify-content: center;
}

#GovwebsiteRedesign {
    grid-area: GovwebsiteRedesign;
    background-color: skyblue;
    justify-content: center;
}

#plantaetext {
    justify-content: flex-start;
    padding: 20px;

}

#gtext {
    justify-content: center;
    padding: 20px;
}

#IntotheWildOutdoors {
    grid-area: IntotheWildOutdoors;
    background-color: #E56A00;
    justify-content: center;
}

#IWOtext {

    justify-content: center;
    padding: 20px;
}



.categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 40px;
    cursor: pointer;
    display: grid;

}

.hoverMe {
    grid-area: hover;
    background-color: skyblue;
    color: black;
    width: 180px;
    text-align: center;
    height: 50px;
    transition: 0.3s;
}

/* active state */

/*
.hoverMe:hover {
    background-color: skyblue;
}




a {
    text-align: center;
    color: rgb(5, 5, 5);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

}

a:hover {

    color: skyblue;

    transition: 0.5s;
}






h3,
p {
    display: flex;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;

}







.footer {
    justify-content: center;
    padding: 100px;
    flex-direction: row;
    margin: 0px 5%;

}

.footertext {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    justify-content: center;
}

.icons1 {
    display: flex;
    width: 0%;
    justify-content: center;
    padding-left: 500px;
    cursor: pointer;
}

.icons1 img {
    margin: 15px;
    cursor: pointer;
    width: 40px;
}

.abc {

    width: 0px;
}